// === COLORS ===
$dark-blue: rgba(23, 80, 122, 1);
$light-blue: rgba(23, 151, 181, 1);
$yellow: rgba(221, 202, 22, 1);
$beige: rgba(225, 233, 199, 1);
$red: rgba(200, 13, 35, 1);
$light-green: #cbffc0;
$light-purple: #dbace5;
